:root{
    --h1: 4.5rem;
  --h2: 2.5rem;
  --h3: 1.75rem;
  --h4: 1.375rem;
  --h5: 1.2rem;

  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
}
@media (max-width: 1280px){
     :root {
    --h1: 4rem;
    --h2: 2.25rem;
    --h3: 1.6rem;
    --h4: 1.25rem;
    --h5: 1.1rem;

    --font-12: 0.7rem;
    --font-14: 0.825rem;
    --font-16: 0.95rem;
  }

}

@media (max-width: 1199px){
     :root {
    --h1: 3.8rem;
    --h2: 2.1rem;
    --h3: 1.5rem;
    --h4: 1.2rem;
    --h5: 1rem;

    --font-12: 0.7rem;
    --font-14: 0.8rem;
    --font-16: 0.95rem;
  }
  .customerContainer .customer-card{
    padding: 35px 25px;
  }
  .blogGuide-incard{
    flex-direction: column;
  }
  .blogGuide-incard .incard-img,
  .blogGuide-incard .incard-info{
    width: 100%;
  }
  .incard-info .incard-down{
    margin-top: 10%;
  }
  .blogGuide-container{
    grid-template-columns: repeat(2, 1fr);
  }

}
@media (max-width: 991px) {
     :root {
    --h1: 3.5rem;
    --h2: 2rem;
    --h3: 1.4rem;
    --h4: 1.1rem;
    --h5: 0.95rem;

    --font-12: 0.65rem;
    --font-14: 0.8rem;
    --font-16: 0.9rem;
  }
  #clock{
    display: none;
  }
  .offer-card,
  .nav-card,
  #buttonGroup {
    width: 600px;
  }
  nav .nav {
    display: none;
  }
  #menu {
    display: block;
  }
  .title-box{
  margin-left: 50px;
  
 
}
.shopContainer,
.employee-container{
  grid-template-columns: repeat(2, 1fr);
}
#styleContent .styleContainer{
  flex-direction: column;
  height: fit-content;
}
.customerContainer, 
#icon .icon-container{
  grid-template-columns: repeat(2, 1fr);
}
.footer-container{
  grid-template-columns: repeat(2, 1fr);
}

}
@media (max-width: 768px) {
    :root {
    --h1: 3rem;
    --h2: 1.8rem;
    --h3: 1.25rem;
    --h4: 1rem;
    --h5: 0.9rem;

    --font-12: 0.6rem;
    --font-14: 0.75rem;
    --font-16: 0.85rem;
  }
  .title-box{
    position: absolute;
    margin-left: 0;
    bottom: -30%;
    left: 15%;
  }
  
  .offer-card,
  .nav-card,
  #buttonGroup {
    width: 500px;
  }
  #heroSection .thumb img{
    width: 100px;
    height: 85px;
  }
  .shopContainer,
  .customerContainer, 
  #icon .icon-container,
   .blogGuide-container,
   .employee-container{
  grid-template-columns: 1fr;
}
#styleContent .styleContainer{
  flex-direction: column-reverse;
  
}
.popCard-body{
  max-width: 450px;
  height: auto;
  
}
.styleCard-info .popCard-sub{
  flex-direction: column;
}
#foot .foot-social{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}
#responsiveLink {
  width: 90%;
}
.about-body p{
  width: 50%;
}
.about-body .about-intro{
  width: 80%;
}
.pro-card .pro-card-content {
  width: 100%;
  height: 690px;
 display: flex;
 flex-direction: column;
  
}
.pro-card-content .pro-img {
  width: 100%;
  height: 450px;
  border-radius: 10px;
 
  
}
.contact-container{
  flex-direction: column;
}
.contact-container .contact-card{
  height: 80vh;
}
.contact-card img{
  height: 100%;
  object-fit: cover;
}
  
}
@media (max-width: 520px){
    :root {
    --h1: 2.5rem;
    --h2: 1.6rem;
    --h3: 1.1rem;
    --h4: 0.95rem;
    --h5: 0.85rem;

    --font-12: 0.55rem;
    --font-14: 0.7rem;
    --font-16: 0.8rem;
  }
  .popCard-body{
  max-width: 300px;
  height: auto;
  
}
#responsiveLink {
  width: 85%;
}
.offer-card,
.nav-card,
#buttonGroup {
  width: 380px;
}
.popCard-body .popCard-container{
  flex-direction: column;
  padding-bottom: 20px;
}
.popCard-sub input{
 
  padding: 8px 10px;
 
  
}
.popCard-container img,
.popCard-info{
  width: 100%;
}
.popCard-container img{
  height: 300px;
  border-radius: 10px 10px 0 0;
}
.footer-container{
  grid-template-columns: 1fr;
}
  
}