.lightMood {
  --primaryColor: #1c1c1ce1;
  --secondaryColor: #e5e5e5;

  --bodyColor: #070707;
  --cardColor: #0f0f0f;
  --redBg: #11bad8;

  /* ---------------text-color-----------  */
  --blk: #ccc7c3;
  --blk2: #ccc7c3;
  --wht: #000000;
  --wht2: #070707;

  --gradient-1: linear-gradient(180deg, #eeeeee 0%, #293232 60%, #29373c 100%);
  --gradient-2: linear-gradient(135deg, #dcdcdc 0%, #000000 100%);
  --gradient-3: linear-gradient(135deg, #000000 0%, #070707 100%);
}

:root {
  /* ------background color-------  */
  --primaryColor: #e3e3e3dc;
  --secondaryColor: #1a1a1a;

  --bodyColor: #f8f8f8;
  --cardColor: #e6dfdf;
  --redBg: #e6394d;

  --gradient-1: linear-gradient(180deg, #111111 0%, #d6cdcd 60%, #d6c8c3 100%);
  --gradient-2: linear-gradient(135deg, #232323 0%, #ffffff 100%);
  --gradient-3: linear-gradient(135deg, #f0f0f0 0%, #e3e3e399 100%);

  /* ---------------text-color-----------  */
  --blk: #33383c;
  --blk2: #2e363af1;

  --wht: #ffffff;
  --wht2: #f8f8f8;

  /* transition  */
  --transition-1: 0.2s ease;
  --transition-2: 0.3s ease;
  --transition-3: 0.5s ease;

  /* -------------font-size--------  */
  --h1: 4.5rem;
  --h2: 2.5rem;
  --h3: 1.75rem;
  --h4: 1.375rem;
  --h5: 1.2rem;

  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
}

/* ----------------------------------------
       ============= reset css  ==============
       -------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
input,
button,
i,
textarea {
  display: block;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  transition: var(--transition-2);
}

a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  animation: fadeed 0.5s ease-in-out;
}
body {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
  font-family: "Inter", sans-serif;
  font-size: var(--font-16);
  color: var(--blk);
  background: var(--bodyColor);
  animation: fadeed 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
}

@keyframes fadeed {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
p {
  font-size: var(--font-16);
}
.f-12 {
  font-size: var(--font-12);
}
.f-14 {
  font-size: var(--font-14);
}
.f-16 {
  font-size: var(--font-16);
}
button {
  border: 0;
  outline: 0;
  background: none;
}
.btn {
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: var(--font-14);
  color: var(--blk);
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-2);
}
.secondary-btn{
  background: var(--wht);
  
}
.secondary-btn:hover{
  background: var(--blk);
  color: var(--wht);
}
.primary-btn {
  background: var(--primaryColor);
}
.primary-btn:hover {
  background: var(--wht);
}
/* ==========================================================
 =====================ID section customizing=============== 
============================================================ */

/* ============----page scroll bar-----============== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  overflow: hidden;
  background: var(--bodyColor);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--secondaryColor);
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

/* =====================others=========================== */
.container {
  max-width: 100%;
  position: relative;
  padding: 0.5% 3%;
}
section {
  padding: 1.5% 3%;
  max-width: 100%;
  position: relative;
  transition: var(--transition-1);
}

/* <!-- =============================================
    ----==============header start here==============----
    ============================================= --> */
header {
  max-width: 100%;
  position: sticky;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 105vh;
  background-image: url("../photos/bgImg (1).png");
  transition: background-image 0.5s ease, opacity 0.5s;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 10;
}
header::before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  content: "";
  background: linear-gradient(
    to top,
    rgba(8, 8, 8, 0.123),
    rgba(0, 0, 0, 0.171)
  );
}

.offer-card {
  width: 700px;
  background: var(--primaryColor);
  opacity: 0.9;
  max-width: 100%;
  padding: 6px 2px;
  margin: 0 auto;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition-2);
  border-radius: 5px;
  filter: blur(0.2px);
}
.offer-marque {
  width: 100%;
  overflow: hidden;
  padding: 2px 0;
}
.offer-truck {
  display: flex;
  gap: 100px;
  width: max-content;
  animation: scroll 20s linear infinite;
  transition: var(--transition-3);
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.offer-truck p {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--blk2);
}
.nav-card {
  width: 700px;
  background: var(--primaryColor);
  max-width: 100%;

  position: fixed;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition-2);
  border-radius: 5px;
  margin-top: 5px;
  filter: blur(0.2px);
  border: 1px solid var(--blk);

  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  
}
.offer-card,
.nav-card {
  z-index: 9999;
}
.nav-card .logo {
  padding: 2px;
  cursor: pointer;
}
.nav-card .logo a {
  font-size: var(--h4);
  color: var(--blk);
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  transition: var(--transition-1);
}
a span {
  transition: var(--transition-1);
}
.logo:hover a span {
  color: var(--redBg);
}
.nav-card nav {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}
nav .nav {
  display: flex;
  gap: 12px;
}
nav .bag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--blk);
}
.bag span {
  padding: 2px 5px;
  border: 1px solid var(--blk);
  background: var(--primaryColor);
  color: var(--redBg);
  border-radius: 50%;
}
nav .nav-link {
  color: var(--blk);
  font-weight: 700;
  padding: 1px 3px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition-1);
}
nav .nav-link:hover,
#menu:hover {
  opacity: 0.8;
}

/* -----------search input---------------  */
.searchInput {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0d0de8;
  z-index: 2500;
  animation: fadeed 0.5s ease;

  display: none;
}
.searchInput input {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: var(--font-16);
  width: 40%;
}
#moodIcon {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#moodIcon i {
  position: absolute;
  font-size: var(--font-16);
  cursor: pointer;
  transition: var(--transition-3);
}
#moodIcon i:hover {
  transform: rotate(20deg);
}
#moodIcon .sun {
  display: block;
}
#moodIcon .moon {
  display: none;
}
#menu {
  display: none;
  color: var(--blk);
  font-weight: 700;
  padding: 2px 3px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition-1);
}
#responsiveLink {
  position: fixed;
  top: 18%;
  background: #e2ddddd0;
  padding: 5px;
  backdrop-filter: blur(3px);
  display: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  margin: 0 auto;
  border-radius: 10px;
  transition: var(--transition-3);
  max-width: 100%;
  width: 65%;
  
}
.response-links {
  transition: var(--transition-3);
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
}
.response-links a {
  padding: 10px 20px;
  transition: var(--transition-2);
  color: var(--blk);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border: 1px solid #ffffff1e;
  text-transform: capitalize;
  font-size: var(--font-14);
  cursor: pointer;
  background: var(--gradient-3);
  border-radius: 5px;
  z-index: 2000;
}
.response-links a:hover {
  opacity: 0.8;
}
.response-links a i {
  transition: var(--transition-3);
  transform: rotate(-45deg);
}
.response-links a:hover i {
  transform: rotate(0deg);
}

#heroSection {
  position: fixed;
  top: 37%;
  left: 0;
  right: 0;

  z-index: -10;
  display: flex;
  align-items: flex-start;
  padding: 1rem 2rem;
  pointer-events: auto;
  box-sizing: border-box;
}

#heroSection h1 {
  font-weight: 500;
  color: #fff;
  max-width: 600px;
  margin-bottom: 20px;
}
#heroSection .thumb,
#heroSection img,
#heroSection .title-box,
#heroSection .title-box .btn {
  pointer-events: auto;
}
#heroSection .thumb {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
#heroSection .thumb img {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  box-shadow: rgba(71, 69, 69, 0.774) 0px 5px 15px;
  cursor: pointer;
  transition: var(--transition-3);
  border: 1px solid var(--wht);
  opacity: 0.8;
}
.thumImg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#heroSection .thumb img:hover {
  opacity: 0.7;
  transform: scale(1.02);
}
.thumb .indexNum {
  font-size: var(--h4);
  color: #fff;
  font-weight: 700;
  padding-right: 10px;
}
.thumb.hide{
  opacity: 0;
  transform: translateY(50px);
  pointer-events: none;
}

.title-box {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title-box .title {
  color: #fff;
  width: 80%;
  font-size: var(--font-16);
  transition: opacity 0.3s ease;
}

/* <!-- =============================================
    ----==============main start here==============----
    ============================================= --> */
main {
  position: relative;
  z-index: 11;
  padding: 5% 0;
}
/* --------------------------shopCard-------------------  */
.salerBtncard{
  max-width: 100%;
  width: 58%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--primaryColor);
  margin: 20px auto;
  border-radius: 8px;
  transition: var(--transition-1);
}
.salerBtncard:hover{
  background: var(--cardColor);
}
.salerBtncard p{
  text-transform: capitalize;

}
.salerBtncard a{
  color: var(--blk);
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.7;
  
}
.salerBtncard a:hover{
  opacity: 1;
 
}

.shopContainer{
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

}
.shopContainer .shopCard{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  padding: 20px;
  border-radius: 12px;
  background: var(--cardColor);
  transition: var(--transition-2);
  cursor: pointer;
  position: relative;
}
.shopCard .shopCard-head{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shopCard-head .badge{
  text-transform: capitalize;
  color: var(--wht);
  background: var(--redBg);
  width: fit-content;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}
.shopCard-head .fav-icon{
  display: flex;
  position: relative;
  
}
.fav-icon i{
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--h4);
  cursor: pointer;

}
.fav-icon .i-on{
  display: none;
}
.fav-icon .i-off{
  display: block;
}
.shopCard-img{
  position: relative;
  width: 100%;
  height: 350px;
  margin-top: -40px;
}
.shopCard-img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-3);
}
.shopCard-img .img-1{
  opacity: 1;
  transition: var(--transition-3);
}
.shopCard-img .img-2{
  opacity: 0;
  transition: var(--transition-3);
}
.shopCard:hover .img-1{
  opacity: 0;
  transition: var(--transition-3);
  transform: scale(0.9);
}
.shopCard:hover .img-2{
  opacity: 1;
  transition: var(--transition-3);
  
}
.shopCard-foot{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shopCard-foot p.f-14{
  text-transform: capitalize;
  color: var(--blk2);
  
}
.shopCard-foot p.f-16{
  text-transform: capitalize;
  color: var(--blk);
  font-weight: 600;
  
}
/* ---------------------story BG---------------  */
#ourStorybg{
  position: relative;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("../photos/storyBg.png"); */
  background-image: url("https://framerusercontent.com/images/Tek3QDXYTGhHVcXeJcr9nVReM.png?width=1280&height=721");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
}
#ourStorybg::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(8, 8, 8, 0.418),
    rgba(0, 0, 0, 0.171)
  );

}
.ourStory-card{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.ourStory-card h2{
  color: #fff;
  font-weight: 500;
}
.ourStory-card p{
  width: 70%;
  color: #ffffffb7;
  margin: 0 auto 20px;

}
/* ---------------------styleContent---------------  */
#styleContent{
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
 
}
#styleContent .styleContainer{
  max-width: 100%;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  
  
}
.styleContainer .styleCard{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryColor);
  border-radius: 10px;
  overflow: hidden;
 

}
.styleCard img{
  width: 100%;
  height: 100%;
  object-fit: cover;
   border-radius: 10px;
   position: relative;
   transition: 4s ease-in-out; 
   transform: scale(1) rotate(0);
   overflow: hidden;
}
.styleCard:hover img{
   transform: scale(1.1) rotate(-3deg);

}
.styleCard .styleCard-info{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 50px;
}
.styleCard-info .f-16{
  width: 80%;
  margin-bottom: 15px;
}

/* <!-- =============================================
    ----==============footer start here==============----
    ============================================= --> */
