.lightMood {
  --primaryColor: #1c1c1c99;
  --secondaryColor: #e5e5e5;

  --bodyColor: #070707;
  --cardColor: #0f0f0f;
  --redBg: #11bad8;

  /* ---------------text-color-----------  */
  --blk: #ccc7c3;
  --blk2: #ccc7c3;
  --wht: #000000;
  --wht2: #070707;

  --gradient-1: linear-gradient(180deg, #eeeeee 0%, #293232 60%, #29373c 100%);
  --gradient-2: linear-gradient(135deg, #dcdcdc 0%, #000000 100%);
  --gradient-3: linear-gradient(135deg, #000000 0%, #070707 100%);
}

:root {
  /* ------background color-------  */
  --primaryColor: #e3e3e399;
  --secondaryColor: #1a1a1a;

  --bodyColor: #f8f8f8;
  --cardColor: #f0f0f0;
  --redBg: #e6394d;

  --gradient-1: linear-gradient(180deg, #111111 0%, #d6cdcd 60%, #d6c8c3 100%);
  --gradient-2: linear-gradient(135deg, #232323 0%, #ffffff 100%);
  --gradient-3: linear-gradient(135deg, #f0f0f0 0%, #e3e3e399 100%);

  /* ---------------text-color-----------  */
  --blk: #33383c;
  --blk2: #2e363af1;

  

  --wht: #ffffff;
  --wht2: #f8f8f8;

  /* transition  */
  --transition-1: 0.2s ease;
  --transition-2: 0.3s ease;
  --transition-3: 0.5s ease;

  /* -------------font-size--------  */
  --h1: 4.5rem;
  --h2: 2.5rem;
  --h3: 1.75rem;
  --h4: 1.375rem;
  --h5: 1.2rem;

  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
}

/* ----------------------------------------
       ============= reset css  ==============
       -------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
input,
button,
i,
textarea {
  display: block;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  animation: fadeed 0.5s ease-in-out;
}
body {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
  font-family: "Inter", sans-serif;
  font-size: var(--font-16);
  color: var(--blk);
  background: var(--bodyColor);
  animation: fadeed 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
}

@keyframes fadeed {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
h1{
  font-size: var(--h1);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
h5{
  font-size: var(--h5);
}
p {
  font-size: var(--font-16);
}
.f-12 {
  font-size: var(--font-12);
}
.f-14 {
  font-size: var(--font-14);
}
.f-16 {
  font-size: var(--font-16);
}
button {
  border: 0;
  outline: 0;
  background: none;
}
.btn{
  width: fit-content;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: var(--font-14);
  color: var(--blk);
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-2);
}
.primary-btn{
  background: var(--primaryColor);
}
.primary-btn:hover{
  background: var(--wht);
}
/* ==========================================================
 =====================ID section customizing=============== 
============================================================ */

/* ============----page scroll bar-----============== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  overflow: hidden;
  background: var(--bodyColor);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--secondaryColor);
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

/* =====================others=========================== */
.container {
  max-width: 100%;
  position: relative;
  padding: 0.5% 3%;
}
section {
  padding: 1.5% 3%;
  max-width: 100%;
  position: relative;
  transition: var(--transition-1);
}

/* <!-- =============================================
    ----==============header start here==============----
    ============================================= --> */
header {
  max-width: 100%;
  width: 100%;

  margin: 1% auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1000;
  
}

.offer-card,
.nav-card {
  width: 700px;
  background: var(--primaryColor);
  opacity: 0.9;
  max-width: 100%;
  padding: 6px 2px;
  margin: 0 auto;
  position: relative;
  transition: var(--transition-2);
  border-radius: 5px;
  filter: blur(0.2px);
  
}
.offer-marque {
  width: 100%;
  overflow: hidden;
  padding: 2px 0;
}
.offer-truck {
  display: flex;
  gap: 100px;
  width: max-content;
  animation: scroll 20s linear infinite;
  transition: var(--transition-3);
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.offer-truck p {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--blk2);
}
.nav-card {
  margin-top: 5px;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  transition: var(--transition-1);
}
.nav-card .logo {
  padding: 2px;
  cursor: pointer;
}
.nav-card .logo a {
  font-size: var(--h4);
  color: var(--blk);
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  transition: var(--transition-1);
}
a span {
  transition: var(--transition-1);
}
.logo:hover a span {
  color: var(--redBg);
}
.nav-card nav {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}
nav .nav {
  display: flex;
  gap: 12px;
}
nav .bag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--blk);
}
.bag span {
  padding: 2px 5px;
  border: 1px solid var(--blk);
  background: var(--primaryColor);
  color: var(--redBg);
  border-radius: 50%;
}
nav .nav-link {
  color: var(--blk);
  font-weight: 700;
  padding: 1px 3px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition-1);
}
nav .nav-link:hover,
#menu:hover {
  opacity: 0.8;
}

/* -----------search input---------------  */
.searchInput {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #33313144;
  z-index: 2000;
  animation: fadeed 0.5s ease;

  display: none;
}
.searchInput input {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: var(--font-16);
  width: 40%;
}
#moodIcon {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#moodIcon i {
  position: absolute;
  font-size: var(--font-16);
  cursor: pointer;
  transition: var(--transition-3);
}
#moodIcon i:hover {
  transform: rotate(20deg);
}
#moodIcon .sun {
  display: block;
}
#moodIcon .moon {
  display: none;
}
#menu {
  display: none;
  color: var(--blk);
  font-weight: 700;
  padding: 2px 3px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition-1);
}
#responsiveLink {
  background: transparent;

  display: none;
  margin-top: 10px;
  border-radius: 10px;
  transition: var(--transition-3);
  max-width: 100%;
  width: 100%;
  height: auto;
  
  
}
.response-links {
  transition: var(--transition-3);
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
}
.response-links a {
  padding: 10px 20px;
  transition: var(--transition-2);
  color: var(--blk);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border: 1px solid #ffffff1e;
  text-transform: capitalize;
  font-size: var(--font-14);
  cursor: pointer;
  background: var(--gradient-3);
  border-radius: 5px;
  z-index: 2000;
}
.response-links a:hover {
  opacity: 0.8;
}
.response-links a i {
  transition: var(--transition-3);
  transform: rotate(-45deg);
}
.response-links a:hover i {
  transform: rotate(0deg);
}

#hero {
  height: 100vh;
  width: 100%;
  background-image: url("../photos/bgImg (1).png");
  background-position:top center;
  background-size: cover;
  background-repeat: no-repeat;
 position: fixed;
 
 top: 0;
 left: 0;
 z-index: -1;
 transition: background-image 0.5s ease, opacity 0.5s;
}
#hero::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #2323231a 0%, #00000017 100%);
}
#heroSection{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  margin-top: 17%;

  z-index: 100;
  transition: var(--transition-1);
  
}

#heroSection h1{
  
  font-weight:500 ;
  color: #fff;
  max-width: 600px; 
  margin-bottom: 20px;
  
}
#heroSection .thumb{
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
#heroSection .thumb img{
  width: 130px;
  height: 100px;
  border-radius: 10px;
  box-shadow: rgba(71, 69, 69, 0.774) 0px 5px 15px;
  cursor: pointer;
  transition: var(--transition-3);
  border: 1px solid transparent;
  opacity: 0.8;
 

}
.thumImg{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#heroSection .thumb img:hover{
  opacity: 0.7;
  transform: scale(1.02);
}
.thumb .indexNum{
  font-size: var(--h4);
  color: #fff;
  font-weight: 700;
  padding-right: 10px;
}
.thumb.hide {
  opacity: 0;
  transform: translateY(50px);
  pointer-events: none;
}
.title-box{
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
 
}
.title-box .title{
  color:#fff;
  width: 80%;
  font-size: var(--font-16);
  transition: opacity 0.3s ease;
  
}


/* <!-- =============================================
    ----==============main start here==============----
    ============================================= --> */

main{
  position: relative;
  z-index: 10;
  padding-top: 60%; 
  
}
main section{
   background: var(--bodyColor);
  
  max-width: 100%;
  height: 100%;
  padding: 60px 0;
}
 

/* <!-- =============================================
    ----==============footer start here==============----
    ============================================= --> */
    footer{
      width: 100%;
      height: 50vh;
      background: var(--secondaryColor);
    }
