.lightMood {
  --primaryColor: #1c1c1c99;
  --secondaryColor: #e5e5e5;

  --bodyColor: #070707;
  --cardColor: #0f0f0f;
  --redBg: #108577;

  /* ---------------text-color-----------  */
  --blk: #ccc7c3;
  --blk2: #CCC7C3;
  --wht: #000000;
  --wht2: #070707;

  --gradient-1: linear-gradient(180deg, #eeeeee 0%, #293232 60%, #29373c 100%);
  --gradient-2: linear-gradient(135deg, #dcdcdc 0%, #000000 100%);
  --gradient-3: linear-gradient(135deg, #000000 0%, #ffffff 100%);
}

:root {
  /* ------background color-------  */
  --primaryColor: #e3e3e399;
  --secondaryColor: #1a1a1a;

  --bodyColor: #f8f8f8;
  --cardColor: #f0f0f0;
  --redBg: #e6394d;

  --gradient-1: linear-gradient(180deg, #111111 0%, #d6cdcd 60%, #d6c8c3 100%);
  --gradient-2: linear-gradient(135deg, #232323 0%, #ffffff 100%);
  --gradient-3: linear-gradient(135deg, #ffffff 0%, #000000 100%);

  /* ---------------text-color-----------  */
  --blk: #33383c;
  --blk2: #2e363af1;
  
  --wht: #ffffff;
  --wht2: #f8f8f8;

  /* transition  */
  --transition-1: 0.2s ease;
  --transition-2: 0.3s ease;
  --transition-3: 0.5s ease;

  /* -------------font-size--------  */
  --h1: 4.5rem;
  --h2: 2.5rem;
  --h3: 1.75rem;
  --h4: 1.375rem;
  --h5: 1.2rem;

  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
}

/* ----------------------------------------
       ============= reset css  ==============
       -------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
input,
button,
i,
textarea {
  display: block;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  animation: fadeed 0.5s ease-in-out;
}
body {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
  font-family: "Inter", sans-serif;
  font-size: var(--font-16);
  color: var(--blk);
  background: var(--bodyColor);
  animation: fadeed 0.5s ease-in-out;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
}

@keyframes fadeed {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
p {
  font-size: var(--font-16);
}
.f-12 {
  font-size: var(--font-12);
}
.f-14 {
  font-size: var(--font-14);
}
.f-16 {
  font-size: var(--font-16);
}
button{
    border: 0;
    outline: 0;
    background: none;
}
/* ==========================================================
 =====================ID section customizing=============== 
============================================================ */

/* ============----page scroll bar-----============== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  overflow: hidden;
  background: var(--bodyColor);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--secondaryColor);
  transition: 0.3s;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

/* =====================others=========================== */
.container {
  max-width: 100%;
  position: relative;
  padding: 0.5% 3%;
}
section {
  padding: 1.5% 5%;
  max-width: 100%;
  position: relative;
  transition: var(--transition-1);
}

/* <!-- =============================================
    ----==============header start here==============----
    ============================================= --> */
header {
    max-width: 100%;
    width: 100%;

    margin: 1% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
    
}

.offer-card,
.nav-card{
    width: 700px;
    background: var(--primaryColor);
    opacity: 0.9;
    max-width: 100%;
    padding: 6px 2px;
    margin: 0 auto;
    position: relative;
    transition: var(--transition-2);
    border-radius: 5px;
    filter: blur(0.2px);
}
.offer-marque{
     width: 100%;
      overflow: hidden;
      padding: 2px 0;
}
.offer-truck{
     display: flex;
     gap: 100px;
      width: max-content;
      animation: scroll 20s linear infinite;
      transition: var(--transition-3);
}
@keyframes scroll {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-50%);
      }
    }
.offer-truck p{
    font-weight: 400;
    text-transform: uppercase;
    color: var(--blk2);
}
.nav-card{
    margin-top: 5px;
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    transition: var(--transition-1);
}
.nav-card .logo{
    padding: 2px;
    cursor: pointer;
}
.nav-card .logo a{
    font-size: var(--h4);
    color: var(--blk);
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    transition: var(--transition-1);
}
a span{
    transition: var(--transition-1);
}
.logo:hover a span{
    color: rgba(31, 29, 29, 0.884);
    
}
.nav-card nav{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
}
nav .bag{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: var(--blk);
}
.bag span{
    padding: 2px 5px;
    border: 1px solid #000;
    background: var(--primaryColor);
    color: var(--blk);
    border-radius: 50%;
}
nav .nav-link{
    color: var(--blk);
    font-weight: 700;
    padding: 1px 3px;
    text-transform: capitalize;
    cursor: pointer;
    transition: var(--transition-1);
}
nav .nav-link:hover{
    opacity: 0.8;
}


/* -----------search input---------------  */
.searchInput{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33313144;
    z-index: 1000;
    
    display: none;
}
.searchInput input{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 15px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    font-size: var(--font-16);
    width: 40%;
}
