.lightMood {
  --primaryColor: #1c1c1ce1;
  --secondaryColor: #e5e5e5;

  --bodyColor: #070707;
  --cardColor: #0f0f0f;
  --redBg: #11bad8;

  /* ---------------text-color-----------  */
  --blk: #ccc7c3;
  --blk2: #ccc7c3;
  --wht: #000000;
  --wht2: #070707;

  --gradient-1: linear-gradient(180deg, #eeeeee 0%, #293232 60%, #29373c 100%);
  --gradient-2: linear-gradient(135deg, #dcdcdc 0%, #000000 100%);
  --gradient-3: linear-gradient(135deg, #000000 0%, #070707 100%);
}

:root {
  /* ------background color-------  */
  --primaryColor: #e3e3e3dc;
  --secondaryColor: #1a1a1a;

  --bodyColor: #f8f8f8;
  --cardColor: #e6dfdf;
  --redBg: #e6394d;

  --gradient-1: linear-gradient(180deg, #111111 0%, #d6cdcd 60%, #d6c8c3 100%);
  --gradient-2: linear-gradient(135deg, #232323 0%, #ffffff 100%);
  --gradient-3: linear-gradient(135deg, #f0f0f0 0%, #e3e3e399 100%);

  /* ---------------text-color-----------  */
  --blk: #33383c;
  --blk2: #2e363af1;

  --wht: #ffffff;
  --wht2: #f8f8f8;

  /* transition  */
  --transition-1: 0.2s ease;
  --transition-2: 0.3s ease;
  --transition-3: 0.5s ease;

  /* -------------font-size--------  */
  --h1: 4.5rem;
  --h2: 2.5rem;
  --h3: 1.75rem;
  --h4: 1.375rem;
  --h5: 1.2rem;

  --font-12: 0.75rem;
  --font-14: 0.875rem;
  --font-16: 1rem;
}

/* ----------------------------------------
       ============= reset css  ==============
       -------------------------------------------*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a,
img,
input,
button,
i,
textarea {
  display: block;
  text-transform: capitalize;
  font-family: "Inter", sans-serif;
  transition: var(--transition-2);
}

a {
  text-decoration: none;
}
img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
  transition: var(--transition-2);
  animation: fadeed 0.5s ease-in-out;
}
body {
  max-width: 100%;
  transition: all 0.5s ease-in-out;
  font-family: "Inter", sans-serif;
  font-size: var(--font-16);
  color: var(--blk);
  background: var(--bodyColor);
  animation: fadeed 0.5s ease-in-out;
  transition: var(--transition-2);
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  position: relative;
  overflow-x: hidden;
}

@keyframes fadeed {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
p {
  font-size: var(--font-16);
}
.f-12 {
  font-size: var(--font-12);
}
.f-14 {
  font-size: var(--font-14);
}
.f-16 {
  font-size: var(--font-16);
}
button {
  border: 0;
  outline: 0;
  background: none;
}
.btn {
  width: fit-content;
  padding: 12px 20px;
  border: 1px solid #33323236;
  border-radius: 5px;
  font-size: var(--font-14);
  color: var(--blk);
  font-weight: 600;
  cursor: pointer;
  transition: var(--transition-2);
}
.secondary-btn {
  background: var(--wht);
  margin: 20px auto;
}
.secondary-btn:hover {
  background: var(--blk);
  color: var(--wht);
}
.primary-btn {
  background: var(--primaryColor);
}
.primary-btn:hover {
  background: var(--wht);
}
#clock {
  position: fixed;
  top: 1%;
  padding: 5px;

  left: 5px;
  opacity: 0.5;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  background: #ffffff0e;
  border-radius: 5px;
}
#clock .date,
#clock .time {
  font-weight: 400;
  color: var(--blk2);
  font-size: 10px;
}
#clock .time {
  font-weight: 500;
  margin-top: 2px;
}
#clock.hide {
  opacity: 0;
  transform: translateY(300px);
  transition: var(--transition-3);
  pointer-events: none;
}

/* ==========================================================
 =====================ID section customizing=============== 
============================================================ */

/* ============----page scroll bar-----============== */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  overflow: hidden;
  background: var(--primaryColor);
}

::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: var(--secondaryColor);
  transition: 0.3s;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  opacity: 0.6;
}

/* =====================others=========================== */
.container {
  max-width: 100%;
  position: relative;
  padding: 0.5% 3%;
}
section {
  padding: 1.5% 3%;
  max-width: 100%;
  position: relative;
  transition: var(--transition-1);
}

/* <!-- =============================================
    ----==============header start here==============----
    ============================================= --> */
header {
  max-width: 100%;
  position: sticky;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 105vh;
  background-image: url("../photos/bgImg (1).png");
  transition: background-image 0.5s ease, opacity 0.5s;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 10;
}
header::before {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  content: "";
  background: linear-gradient(
    to top,
    rgba(8, 8, 8, 0.123),
    rgba(0, 0, 0, 0.171)
  );
}

.offer-card {
  width: 700px;
  background: var(--primaryColor);
  opacity: 0.9;
  max-width: 100%;
  padding: 6px 2px;
  margin: 0 auto;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition-2);
  border-radius: 5px;
  filter: blur(0.2px);
}

.offer-marque {
  width: 100%;
  overflow: hidden;
  padding: 2px 0;
}
.offer-truck {
  display: flex;
  gap: 100px;
  width: max-content;
  animation: scroll 20s linear infinite;
  transition: var(--transition-3);
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.offer-truck p {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--blk2);
}
.nav-card,
#buttonGroup,
#shopBtnGroup {
  width: 700px;
  background: var(--primaryColor);
  max-width: 100%;

  position: fixed;
  top: 7%;
  left: 50%;
  transform: translateX(-50%);
  transition: var(--transition-2);
  border-radius: 5px;
  margin-top: 5px;
  filter: blur(0.2px);
  border: 1px solid var(--blk);

  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}


.offer-card,
.nav-card {
  z-index: 9999;
  backdrop-filter: blur(5px);
}
.nav-card .logo {
  padding: 2px;
  cursor: pointer;
}
.nav-card .logo a {
  font-size: var(--h4);
  color: var(--blk);
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
  transition: var(--transition-1);
}
a span {
  transition: var(--transition-1);
}
.logo:hover a span {
  color: var(--redBg);
}
.nav-card nav {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  position: relative;
}
nav .nav {
  display: flex;
  gap: 12px;
}
nav .bag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--blk);
  transition: var(--transition-2);
}
.bag:hover span{
  background: var(--blk);
  color: var(--wht);
}
.bag span {
  padding: 2px 5px;
  border: 1px solid var(--blk);
  background: var(--primaryColor);
  color: var(--redBg);
  border-radius: 50%;
  transition: var(--transition-2);
}
nav .nav-link {
  color: var(--blk);
  font-weight: 700;
  padding: 1px 3px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition-1);
}
nav .nav-link:hover,
#menu:hover {
  opacity: 0.8;
}
#popCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  height: 100%;
  background: #4241415b;
  z-index: 9999;
  animation: fadeed 0.5s ease;
  display: none;
}
.popCard-body {
  max-width: 650px;
  width: 100%;
  height: 350px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--wht);
  border-radius: 10px;
  transition: var(--transition-2);
}
.popCard-body .popCard-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
.popCard-container img {
  width: 40%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}
.popClose {
  position: absolute;
  top: 15px;
  right: 15px;

  cursor: pointer;
  font-size: var(--h4);
  transition: var(--transition-2);
}
.popClose:hover {
  transform: rotate(45deg);
}
.popCard-info {
  width: 60%;
}
.popCard-info .styleCard-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-right: 25px;
}
.styleCard-info .popCard-sub {
  display: flex;
  gap: 10px;
}
.popCard-sub input {
  border: 0;
  outline: 0;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: var(--font-16);
}
.popCard-sub input:first-child {
  width: 100%;
  text-transform: lowercase;
  background: var(--primaryColor);
}
.popCard-sub input:last-child {
  background: #000;
  border: 1px solid var(--blk);
  color: #fff;
  cursor: pointer;
  transition: var(--transition-2);
}
.popCard-sub input:last-child:hover {
  background: #fff;
  color: #000;
}
/* -----------search input---------------  */
.searchInput {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0e0d0de8;
  z-index: 2500;
  animation: fadeed 0.5s ease;

  display: none;
}
.searchInput input {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  border: 0;
  outline: 0;
  border-radius: 10px;
  font-size: var(--font-16);
  width: 40%;
}
#moodIcon {
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#moodIcon i {
  position: absolute;
  font-size: var(--font-16);
  cursor: pointer;
  transition: var(--transition-3);
}
#moodIcon i:hover {
  transform: rotate(20deg);
}
#moodIcon .sun {
  display: block;
}
#moodIcon .moon {
  display: none;
}
#menu {
  display: none;
  color: var(--blk);
  font-weight: 700;
  padding: 2px 3px;
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition-1);
}
#responsiveLink {
  position: fixed;
  top: 18%;
  background: #e2ddddd0;
  padding: 5px;
  backdrop-filter: blur(3px);
  display: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  margin: 0 auto;
  border-radius: 10px;
  transition: var(--transition-3);
  max-width: 100%;
  width: 65%;
}
.response-links {
  transition: var(--transition-3);
  display: flex;
  flex-direction: column;
  gap: 5px;

  width: 100%;
}
.response-links a {
  padding: 10px 20px;
  transition: var(--transition-2);
  color: var(--blk);
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  border: 1px solid #ffffff1e;
  text-transform: capitalize;
  font-size: var(--font-14);
  cursor: pointer;
  background: var(--gradient-3);
  border-radius: 5px;
  z-index: 2000;
}
.response-links a:hover {
  opacity: 0.8;
}
.response-links a i {
  transition: var(--transition-3);
  transform: rotate(-45deg);
}
.response-links a:hover i {
  transform: rotate(0deg);
}

#heroSection {
  position: fixed;
  top: 37%;
  left: 0;
  right: 0;

  z-index: -10;
  display: flex;
  align-items: flex-start;
  padding: 1rem 2rem;
  pointer-events: auto;
  box-sizing: border-box;
}

#heroSection h1 {
  font-weight: 500;
  color: #fff;
  max-width: 600px;
  margin-bottom: 20px;
}
#heroSection .thumb,
#heroSection img,
#heroSection .title-box,
#heroSection .title-box .btn {
  pointer-events: auto;
}
#heroSection .thumb {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  transition: opacity 0.2s ease, transform 0.2s ease;
}
#heroSection .thumb img {
  width: 120px;
  height: 80px;
  border-radius: 10px;
  box-shadow: rgba(71, 69, 69, 0.774) 0px 5px 15px;
  cursor: pointer;
  transition: var(--transition-3);
  border: 1px solid var(--wht);
  opacity: 0.8;
}
.thumImg {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
#heroSection .thumb img:hover {
  opacity: 0.7;
  transform: scale(1.02);
}
.thumb .indexNum {
  font-size: var(--h4);
  color: #fff;
  font-weight: 700;
  padding-right: 10px;
}
.thumb.hide {
  opacity: 0;
  transform: translateY(50px);
  pointer-events: none;
}

.title-box {
  margin-left: 150px;
  display: flex;
  flex-direction: column;
  transition: var(--transition-2);
  gap: 10px;
}
.title-box .title {
  color: #fff;
  width: 80%;
  font-size: var(--font-16);
  transition: opacity 0.3s ease;
}

/* <!-- =============================================
    ----==============main start here==============----
    ============================================= --> */
main,
footer {
  position: relative;
  z-index: 11;
  padding: 5% 0;
}

/* --------------------------shopCard-------------------  */
.salerBtncard {
  max-width: 100%;
  width: 58%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: var(--primaryColor);
  margin: 20px auto;
  border-radius: 8px;
  transition: var(--transition-1);
}
.salerBtncard:hover {
  background: var(--cardColor);
}
.salerBtncard p {
  text-transform: capitalize;
}
.salerBtncard a {
  color: var(--blk);
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.7;
}
.salerBtncard a:hover {
  opacity: 1;
}

.shopContainer {
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  transition: var(--transition-1);
}
.shopContainer .shopCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 450px;
  padding: 20px;
  border-radius: 12px;
  background: var(--cardColor);
  transition: var(--transition-2);
  cursor: pointer;
  position: relative;
}
.shopCard .shopCard-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shopCard-head .badge {
  text-transform: capitalize;
  color: var(--wht);
  background: var(--redBg);
  width: fit-content;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}
.shopCard-head .fav-icon {
  display: flex;
  position: relative;
}
.fav-icon i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--h4);
  cursor: pointer;
}
.fav-icon .i-on {
  display: none;
}
.fav-icon .i-off {
  display: block;
}
.shopCard-img {
  position: relative;
  width: 100%;
  height: 350px;
  margin-top: -40px;
}
.shopCard-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: var(--transition-3);
}
.shopCard-img .img-1 {
  opacity: 1;
  transition: var(--transition-3);
}
.shopCard-img .img-2 {
  opacity: 0;
  transition: var(--transition-3);
}
.shopCard:hover .img-1 {
  opacity: 0;
  transition: var(--transition-3);
  transform: scale(0.9);
}
.shopCard:hover .img-2 {
  opacity: 1;
  transition: var(--transition-3);
}
.shopCard-foot {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.shopCard-foot p.f-14 {
  text-transform: capitalize;
  color: var(--blk2);
}
.shopCard-foot p.f-16 {
  text-transform: capitalize;
  color: var(--blk);
  font-weight: 600;
}
/* ---------------------story BG---------------  */
#ourStorybg {
  position: relative;
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("../photos/storyBg.png"); */
  background-image: url("https://framerusercontent.com/images/Tek3QDXYTGhHVcXeJcr9nVReM.png?width=1280&height=721");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
}
#ourStorybg::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(8, 8, 8, 0.418),
    rgba(0, 0, 0, 0.171)
  );
}
.ourStory-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}
.ourStory-card h2 {
  color: #fff;
  font-weight: 500;
}
.ourStory-card p {
  width: 70%;
  color: #ffffffb7;
  margin: 0 auto 20px;
}
/* ---------------------styleContent---------------  */
#styleContent {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
}
#styleContent .styleContainer {
  max-width: 100%;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.styleContainer .styleCard {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryColor);
  border-radius: 10px;
  overflow: hidden;
}
.styleCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
  transition: 4s ease-in-out;
  transform: scale(1) rotate(0);
  overflow: hidden;
}
.styleCard:hover img {
  transform: scale(1.1) rotate(-3deg);
}
.styleCard .styleCard-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 50px;
}
.styleCard-info .f-16 {
  width: 80%;
  margin-bottom: 15px;
}

/* -----------------------customer-------------  */
#customer {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-top: 5%;
}
.cutomer-info {
  max-width: 100%;
  padding: 5px 20px;
  margin: 0 auto;
  text-align: center;
}
.cutomer-info h2 {
  font-weight: 500;
}
.cutomer-info p {
  width: 30%;
  color: var(--blk2);
  margin: 0 auto;
  margin-top: 15px;
}
.customerContainer {
  max-width: 100%;
  margin: 55px auto 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  position: relative;
  transition: var(--transition-2);
}
.customerContainer .customer-card {
  padding: 45px 35px;
  background: var(--primaryColor);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 3px 8px;
}
.customer-card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.customer-card p {
  line-height: 25px;
  padding: 5px;
}
.customer-card h5 {
  font-weight: 500;
  font-size: var(--font-16);
}
/* -----------------------icon-------------  */
#icon,
#img-marque,
#blogGuide,
#aboutSec,
#prolingo,
#blogSec {
  width: 100%;
  max-width: 100%;
  margin-top: 5%;
  position: relative;
}
#icon .icon-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  transition: var(--transition-1);
  margin-top: 5%;
}
.icon-container .iconCard {
  width: 100%;
  padding: 30px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  background: var(--primaryColor);
  border-radius: 8px;
  transition: var(--transition-1);
}
.iconCard img {
  width: 70px;
}
.iconCard h4 {
  font-weight: 500;
}
.iconCard p {
  width: 90%;
  font-size: var(--font-16);
  margin: 5px auto;
}
/* -----------------------blogGuide-------------  */
.blogGuide-incard {
  width: 100%;
  max-width: 100%;
  background: var(--primaryColor);
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: var(--transition-2);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 20px;
}
.blogGuide-incard .incard-img {
  width: 60%;
  overflow: hidden;
  transition: var(--transition-2);

  border-radius: 10px;
}
.incard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: var(--transition-3);
}
.blogGuide-incard:hover .incard-img img {
  transform: scale(1.05);
}
.incard-down img,
.blog-info .incard-down img {
  width: 20px;
}
.blogGuide-incard .incard-info {
  padding: 50px 30px;
  width: 40%;
}
.incard-info .incard-top {
  max-width: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.incard-info .incard-down {
  margin-top: 40%;
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
}
.incard-down .clender-badge,
.incard-down .time-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--cardColor);
  background: var(--wht);
}
.incard-down .f-14 {
  opacity: 0.8;
  font-weight: 600;
}
.blogGuide-container,
.employee-container {
  margin-top: 2%;
  max-width: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  gap: 10px;
  transition: var(--transition-2);
}
.blogGuide-container .blogGuide-card,
.employee-container .employee-card {
  width: 100%;
  height: 75vh;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: var(--cardColor);
}
.blogGuide-card .b-img,
.employee-card .b-img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  transition: var(--transition-3);
  position: relative;
  border-radius: 8px;
}

.blogGuide-card:hover img {
  transform: scale(1.05);
}
.blogGuide-card .blogGuide-info {
  width: 100%;
  margin-top: -12%;
  background: var(--cardColor);
  padding: 20px;

  position: relative;

  transition: var(--transition-3);
}
.blogGuide-card:hover .blogGuide-info {
  margin-top: -15%;
}
.blogGuide-info .blog-info {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog-info p {
  font-weight: 700;
  text-transform: capitalize;
  color: var(--blk2);
  opacity: 0.8;
}
.blog-info .incard-down {
  margin-top: 5%;
  width: 100%;
  display: flex;
  gap: 20px;
}
.blog-info .incard-down .clender-badge,
.blog-info .incard-down .time-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid var(--cardColor);
  background: var(--wht);
}

/* -----------------------img marque-------------  */
#img-marque a {
  font-size: var(--h2);
  width: fit-content;
  text-transform: lowercase;
  font-weight: 600;
  margin: 0 auto;
  margin-top: 10px;
  color: var(--blk);
  cursor: pointer;
  transition: var(--transition-1);
}
#img-marque a:hover {
  color: var(--blk2);
  opacity: 0.8;
}
.marquee {
  max-width: 100%;
  margin-top: 3%;
}
.img-marque {
  width: 100%;
  overflow: hidden;
  padding: 2px;
}
.imgMarque-truck {
  display: flex;
  gap: 10px;
  width: max-content;
  animation: scroll 80s linear infinite;
  transition: var(--transition-3);
}
.imgMarque-truck .marImg {
  border: 1px solid transparent;
  padding: 2px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.marImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.marImg.mi-1 {
  width: 250px;
  height: 280px;
}
.marImg.mi-2 {
  width: 250px;
  height: 400px;
}

/* <!-- =============================================
    ----==============footer start here==============----
    ============================================= --> */
footer {
  max-width: 100%;
  position: relative;
  width: 95%;
  border-radius: 20px;
  margin: 0 auto 1%;
  height: auto;
  padding: 20px;
  background: #131212;
}
#foot {
  padding: 40px;
  width: 100%;
  height: 100%;
}
.footer-container {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer-container .foot-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 7px;
  margin: 0 auto;
  padding-left: 40px;
}
.footer-container .foot-subs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foot-subs h3 {
  color: #e5e5e5;
  opacity: 0.8;
  cursor: none;
}
.foot-subs p {
  margin-bottom: 20px;
  color: #e5e5e5;
  opacity: 0.7;
}
.foot-subs .foot-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.foot-input input {
  border: 0;
  outline: 0;
  text-transform: lowercase;
  border-radius: 5px;
  padding: 8px 20px;
  font-size: var(--font-16);
  background: #ccc7c3;
  width: 100%;
}
.foot-input .subs {
  text-transform: capitalize;
  cursor: pointer;
  transition: var(--transition-3);
}
.foot-input .subs:hover {
  opacity: 0.8;
}

.foot-card .f-14 {
  color: #fff;
  opacity: 0.5;
  margin-bottom: 20px;
  padding-left: 20px;
}
.foot-card .foot-link {
  width: fit-content;
  text-transform: capitalize;
  color: #dbd8d8;
  cursor: pointer;
  padding-left: 20px;
  transition: var(--transition-2);
  font-size: var(--font-14);
  font-weight: 600;
}
.foot-card .foot-link:hover {
  opacity: 0.8;
}
#foot .foot-social {
  border-top: 1px solid #ffffff2c;
  margin-top: 6%;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  transition: var(--transition-2);
}
.foot-social .f-social-card {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}
.f-social-card a {
  color: #727171;
  transition: var(--transition-2);
}
.f-social-card a:hover {
  color: #fff;
}

/* <!-- =============================================
    ----==============about HTML start here==============----
    ============================================= --> */
#aboutSec .about-body {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--transition-1);
  overflow: hidden;
}
.about-body h1 {
  font-weight: 500;
}
.about-body p {
  width: 30%;
  margin: 5px auto 5%;
  text-align: center;
}
.about-body img {
  width: 100%;
  min-height: 700px;
  border-radius: 10px;
}
.about-body .about-intro {
  max-width: 100%;
  width: 55%;
  line-height: 35px;
  margin: 10% auto 2%;
  text-align: center;
}
/* --------------------pro card------------------------ */
#prolingo {
  padding: 5%;
  margin: 0 auto 5%;
  width: 100%;
  max-width: 100%;
  position: relative;
  cursor: grab;
  display: flex;
  flex-direction: column;
  gap: 35px;
  height: 700px;
  overflow-y: auto;
  background: var(--bodyColor);
  scroll-timeline: --time block;
}
#prolingo::-webkit-scrollbar {
  width: 0;
}
.pro-container {
  width: 100%;
  height: 100%;
  transition: var(--transition-1);
  max-width: 100%;
}
.pro-container .pro-card {
  max-width: 100%;
  width: 100%;
  height: 700px;
  background: transparent;
  margin: 0 auto;
  padding: 0;

  position: sticky;

  top: 0;
  left: 0;
}
.pro-card .pro-card-content {
  width: 100%;
  height: 690px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 35px;
  justify-content: center;
  align-items: center;
  transition: var(--transition-2);
  background: var(--bodyColor);
}
.pro-card-content .pro-content-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  padding: 0 55px;
  gap: 25px;
  transition: var(--transition-1);
}
.pro-card-content .pro-img {
  width: 100%;
  height: 690px;
  border-radius: 10px;
}
.pro-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.9;
  transform-origin: center;
  will-change: opacity, transform;

  /* Scroll animation apply */
  animation: fade-img linear;
  animation-range: 0% 100%;
  animation-timeline: --time;
}
@keyframes fade-img {
  0% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* ------------------------employee----------  */
#employee {
  width: 100%;
  max-width: 100%;

  background: var(--primaryColor);
  height: auto;
}
#employee .styleCard-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 55%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}
#employee .employee-container {
  margin-top: 5%;
}
.employee-container .employee-card {
  height: 85vh;
  cursor: auto;
}
.employee-card .b-img {
  height: 72vh;
}
.employee-card:hover img {
  transform: scale(1.02);
}
.employee-card .employee-info {
  width: 100%;
  margin-top: -5%;
  background: var(--bodyColor);
  padding: 30px 20px 20px;
  padding-bottom: 70px;
  position: relative;
  transition: var(--transition-3);
}
.employee-card:hover .employee-info {
  margin-top: -20%;
}
.employee-down {
  display: flex;
  margin-top: 8%;
  gap: 10px;
}
.employee-down a {
  width: fit-content;
  padding: 12px 20px;
  background: var(--primaryColor);
  border-radius: 5px;
  color: var(--blk);
  font-size: var(--font-14);
  font-weight: 600;
}
.employee-down a:hover {
  background: var(--blk2);
  color: var(--wht);
}

/* <!-- =============================================
    ----==============contact HTML start here==============----
    ============================================= --> */

#contact-body h1 {
  text-align: center;
  margin-top: 5%;
}

.contact-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  gap: 20px;
  transition: var(--transition-2);
}
.contact-container .contact-card {
  width: 100%;
  height: auto;
  transition: var(--transition-2);
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.contact-card img {
  width: 100%;
  height: 110vh;
  border-radius: 10px;
  transition: var(--transition-3);
}
.contact-card img:hover {
  transform: scale(1.05);
}
.contact-card form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;
  transition: var(--transition-1);
  position: relative;
}
form .input-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
form input,
.input-box input,
form textarea {
  width: 100%;
  resize: none;
  border: 0;
  outline: 0;
  padding: 15px 20px;
  font-size: var(--font-16);
  background: var(--primaryColor);
  border-radius: 5px;
}
form input::placeholder,
.input-box input::placeholder,
form textarea::placeholder {
  text-transform: capitalize;
}
#f-email {
  text-transform: lowercase;
}
form .f-sub {
  color: var(--wht);
  background: var(--blk);
  cursor: pointer;
  transition: var(--transition-2);
  border: 1px solid transparent;
}
form .f-sub:hover {
  background: var(--blk2);
  border: 1px solid var(--blk);
}

/* <!-- =============================================
    ----==============blog HTML start here==============----
    ============================================= --> */
    #buttonGroup,
    #shopBtnGroup {
  top: 17%;
  z-index: 9999;
  border: 1px solid transparent;
}
#buttonGroup button,
#shopBtnGroup button {
  cursor: pointer;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0.5;
  color: var(--blk);
}

#blog-active,
#shop-active {
  display: none;
}
#blog-active.active,
#shop-active.active {
  display: grid;
  transition: var(--transition-2);
  animation: fadeed 0.5s ease-in-out;
}
#buttonGroup .blogBtn.active,
#shopBtnGroup .shopBtn.active {
  opacity: 1;
}
#buttonGroup.hide,
#shopBtnGroup.hide {
  opacity: 0;
  visibility: hidden;
}
/* <!-- =============================================
    ----==============shop HTML start here==============----
    ============================================= --> */
    #shopCard{
      margin-top: 10%;
    }
